@{
    ViewBag.Title = "Compare Universities";
}

<div class="container">
<div class="row">
<div class="col-sm-9">
<div class="row">
<div class="col-xs-12">
<h1>Compare universities</h1>
<p>A comprehensive rating about the US Universities on noteworthy parameters can easily narrow down an applicants' choice from the pool of universities. Yocket university comparer helps in making informed decision about universities.</p>
</div>
<div class="clearfix"></div><hr>
</div>
<div class="ui-widget">
<div class="input-group">
<span class="input-group-addon input-lg button-color"><i id="search-icon" class="glyphicon glyphicon-search"></i></span>
<input type="text" id="compare-universities-search" class="form-control input-lg" placeholder="Search universities" aria-describedby="compare-universities-search-input">
</div> 
</div>
<br>
<div class="col-sm-12 text-center" id="university_list_head">
<h3><i class="glyphicon glyphicon-plus"></i> Search and add universities to compare</h3>
</div>
<div class="col-sm-12" id="university_list"></div>
<div class="col-sm-12 text-center" id="compare_button" style="padding-bottom :13em"></div>
<div class="clearfix"></div> </div>
<div class="clearfix"></div>
</div>
</div>


