@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Not Found</title>
</head> 
<body>
    <div class ="Container" style="min-height:100px">
    </div>
    <div class="container" style="text-align:center">
    <div class="alert alert-warning">
        <h1> Oops! Something Went Wrong. Page Not Found</h1>
    </div>
     </div>
</body>
</html>
