@{
    ViewBag.Title = "Home";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 university-header indexheader">
            <div class="col-sm-8 col-sm-offset-2" style="grid-column-align: center;">
                <p>
                    <span style="font-family: 'Raleway'; font-size: 6em; color: #fff">Ms In UsA</span><br>
                    <span style="font-size: 2em; color: #fff">Study abroad guide for masters</span>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>
                <a href="/MsInUsa/Universities/reviews" class="text-color"><i class="glyphicon glyphicon-stats"></i> University reviews</a> </h2>
            <p>Everything you want to know about a University before you start applying for your Masters</p>
            <p><a href="/MsInUsa/Universities/reviews">
                <button type="button" class="btn btn-default button-color">Read university reviews</button></a></p>
        </div>
        <div class="col-sm-4">
            <h2>
                <a href="/MsInUsa/ProfileEvaluator" class="text-color"><i class="glyphicon glyphicon-filter"></i> Profile evaluator</a> </h2>
            <p>Try our smart software and see a list of safe, realistic & ambitious universities, based on YOUR profile</p>
            <p><a href="/MsInUsa/ProfileEvaluator">
                <button type="button" class="btn btn-default button-color">Evaluate profile</button></a></p>
        </div>
        <div class="col-sm-4">
            <h2>
                <a href="/MsInUsa/ProfileMatcher/AdmitsRejects" class="text-color"><i class="glyphicon glyphicon-tags"></i> Admits & rejects</a></h2>
            <p>Discover people with similar profiles and those applying to the same universities and course as you</p>
            <p><a href="/MsInUsa/ProfileMatcher/AdAdmitsRejects">
                <button type="button" class="btn btn-default button-color">See admits/rejects</button></a></p>
        </div>
    </div>
</div>